__pycache__/
.vscode/
.DS_Store
hugging_face/assets/
results/
test_sample/
pretrained_models/
matting-logs/

# Custom pipeline outputs / inputs
results/
masks/
inputs/mask/mask-test*.png
.venv/
pretrained_models/sam2/
__pycache__/
